/*2. CSS#
Aplicarás un background usando el atributo 
style a la etiqueta <body>, la etiqueta <style>
 dentro de <head> la usaras ara aplicar estilos a las etiquetas
  <h1> y <p>, y en un archivo externo enlazado con <link> aplicaras el resto de los estilos.
*/
  body{ 
    background-color: aqua;
    color: blue;
    font-size: large;
    width:auto;
    height: auto;   
  }
