*{
  align-content: center;
  align-self: center;
}
  
  
  body{ 
    background-color: rgb(88, 109, 109);
    color: rgb(168, 49, 49);



  
  }

  h1{
    color: rgb(16, 58, 6);
    
  }

  h2{
    color: rgb(5, 7, 110);
  }

 /*  h3{
    color: rgb(47, 170, 30);
  } */

  p {
    color: azure;
  }


  .Hobies {
    color: aqua;

  }

  .Habilidades {
    color: rgb(12, 24, 184);

  }

  #Redes_sociales {
    color: rgb(67, 9, 121);
  }